<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Configuração do pacote base da aplicação -->
	<context:component-scan base-package="br.com.springmvc" />
	
	<!-- Habilita as annotations do Spring MVC -->
	<mvc:annotation-driven />
	
	<!-- Definição da view a ser carregada no contexto raiz da aplicação -->
	<mvc:view-controller path="/" view-name="home"/>
	
	<!-- Define a localização das views da aplicação -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- Configuração do datasource para conexão com o banco de dados hsql -->
	<bean name="hsqlDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver"></property>
		<property name="url" value="jdbc:hsqldb:mem:."></property>
		<property name="username" value="SA"></property>
		<property name="password" value=""></property>
	</bean>
	
	<!-- Configuração do datasource para conexão com o banco de dados mysql -->
	<bean name="mysqlDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/dbmysql"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>
	
	<!-- Configuração do datasource para conexão com o banco de dados postgres -->
	<bean id="postgresDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/postgres"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
    </bean>
	
	<!-- Configuração para mensagens internacionalizadas.
		 Para alternar entre as mensagens basta enviar uma requisição informando como parâmetro
		 o 'locale', por exemplo, \?locale=pt_BR para português e \?locale=en_US para inglês -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/mensagens/messages" />
	</bean>
    <mvc:interceptors>
        <!-- Changes the locale when a 'locale' request parameter is sent; e.g. /?locale=de -->
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
    </mvc:interceptors>
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver" />
	
</beans>